@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Lanz Manuel A. Mirabueno III</h1>
    <p>4th Yr. College IRREGULAR - Student ID 1410-21</a>.</p>
</div>
